body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: rgb(98, 6, 219);
}

h1 {
    color: rgb(255, 115, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: rgb(255, 115, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}